@import "tailwindcss";

body{
  background-color: black;
  color: white;
}


#tasklist::-webkit-scrollbar {
  height: 0px;
}

#tasklist {
  scrollbar-width: none;
}

/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

