@import "tailwindcss";

body{
  background-color: black;
  color: white;
}


#tasklist::-webkit-scrollbar {
  height: 0px;
}

#tasklist {
  scrollbar-width: none;
}

#all-tasks::-webkit-scrollbar {
  width: 0px;
}

#all-tasks {
  scrollbar-width: none;
}

